.MuiTypography-h6 {
  color: aliceblue;
  
}

.MuiSvgIcon-root {
  color:aliceblue; 
}

.makeStyles-title-18 {
  color:aliceblue;
}




/*Card*/
.MuiTypography-h5 {
color:aliceblue;
}


p {
  color:aliceblue;
}

.makeStyles-root-13 {
background-color: #2a2a2a;
}